apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: dorfgefluester-postgres
  namespace: dorfgefluester
spec:
  encryptedData:
    database-url: <sealed-database-url>
    postgres-db: <sealed-postgres-db>
    postgres-password: <sealed-postgres-password>
    postgres-user: <sealed-postgres-user>
  template:
    metadata:
      name: dorfgefluester-postgres
      namespace: dorfgefluester
    type: Opaque
